body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}
h1 {
  color: #007bff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: darkblue;
}

a {
  font-weight: bold;
}
.flash {
  animation: flashEffect 0.3s ease;
}

@keyframes flashEffect {
  0% { opacity: 0.6; }
  100% { opacity: 1; }
}
.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: thin;
  border: 2px solid black;
}

.btn2:hover {
  background-color: darkblue;
}
