body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}
h1 {
  color: #007bff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: darkblue;
}
